/*     Part One    */


.one{
	background: url("../img/bg1.png");
	height: 750px;
	padding: 60px 100px;
	text-align: center;
	font-size: 20px;
}
.one h1{
	font-size: 42px;
}
.one .center{
	margin-top: 5%;
	color: white;
	width: 100%;
}
.time{
	font-size: 26px;
}
.button{
	width: 80%;
	text-align: center;
	margin: 5% 10%;
	background: #009eaf;
	padding: 10px;
	color: white;
}


/*    Part Two    */



.two{
	width: 100%;
	height: 400px;
	text-align: center;
	padding: 40px 80px;
	color: #009eaf;
}
.intel-one{
	font-weight: bold;
	font-size: 28px;
}
.intel-two{
	font-weight: bold;
	font-size: 22px;
	margin: 15px;
}
.two img{
	width: 180px;
}


/*   Part Threee    */


.three{
	height: 670px;
	background: url("../img/bg2.jpg");
	padding: 40px 20px;
	text-align: center;
	color: white;
}
.partners{
	margin-top: 5%;
}
.main-color{
	color: white;
	font-size: 36px;
	font-weight: bold;
}
.three .partners li{
	width: 28%;
	height: 260px;
	margin-right: 5%;
	float: left;
}
.partition{
	width: 100%;
	height: 220px;
	border-bottom: 4px dotted;
}
.partners img{
	width: 225px;
	height: 120px;
}
.partners .raspi{
	width: 120px;
}
.partners .android{
	width: 150px;
}
.partners .windows{
	height: 95px;
	width: 175px;
}

/*    Part Four    */
.four{
	background: #328494;
	/*background: url('../img/four.jpg');*/
	background-repeat: no-repeat;
	background-size: 100%;
	height: 300px;
	width: 100%;
	overflow: hidden;
}
.four h1{
	margin: 0;
	padding: 25px;
	text-align: center;
	color: white;
}
.four img{
	margin-top: 5%;
	width: 90%;
	margin-left: 5%;
}




/* Part Five  */
.five{
	background: rgb(126, 226, 222);
	padding: 40px 100px;
}
.agenda {
	position: relative;
	left: 0;
	top: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 610px;
}
.agenda h2{
	font-size: 36px;
	color: white;
	font-weight: bolder;
	text-align: center;
}
.agenda h3{
	color: rgb(46, 93, 119);
	font-weight: bolder;
	margin: 40px 0px;
	text-align: left;
}
line{
	display: block;
	margin-top: 65px;
}
moment{
	display: block;
	position: relative;
	padding-left: 190px;
	padding-bottom: 70px;
}
moment time {
	display: block;
	position: absolute;
	top: 2px;
	left: -45px;
	width: 176px;
	font-size: 18px;
	text-align: right;
}
moment dot {
	display: block;
	position: absolute;
	top: 8px;
	left: 138px;
	width: 16px;
	height: 16px;
	border-radius: 10px;
	border: 4px solid #44aead;
}
moment tail {
	display: block;
	position: absolute;
	top: 20px;
	left: 144px;
	width: 4px;
	height: calc(100% - 27px);
	background: #44aead;
}
moment event {
	display: block;
	text-align: left;
}
loud {
	font-size: 30px;
	margin-bottom: 15px;
	text-transform: none;
	line-height: 1.25;
	color: white;
}


/*  Part Six   */

.six{
	background: url('../img/six.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-align: center;
	padding: 0px 100px;
	height: 580px;
}
.six h2{
	color: white;
	padding: 25px;
	margin: 0;
}
.six .first, .six .sec{
	width: 100%;
	height: 155px;

}
.six .iitb{
	padding: 0 20%;
}
.six .partners-logo img{
	width: 240px;
}
.first .spons, .sec .spons{
	width: 50%;
	float: left;
}
.six img{
	width: 200px;
}




/*    Part Seven    */
.seven{
	background-image: radial-gradient(circle closest-corner at 50% 50%, rgba(255, 255, 255, 0), #f4f4f4), linear-gradient(#f4f4f4, rgba(255, 255, 255, 0)), url('../img/map1.png');
	padding: 40px 100px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% 106%;
	background-position: top;
	height: 400px;
}
.seven h2{
	color: white;
	padding: 0 25px 25px;
}
.seven img{
	width: 90px;
}
.map-content{
	width: 60%;
	margin-left: 20%;
	background: rgba(148, 95, 95, 0.64);
	color: white;
	padding: 15px;
}


@media all and (max-width: 710px) and (min-width: 320px) {
	.one,.two,.three,.four,.five,.six,.seven{
		padding: 10px;
	}
	.one{
		height: 520px;
	}
	.one img{
		width: 50%;
	}
	.one .time{
		font-size: 20px;
	}
	.one h1{
		font-size: 25px;
	}
	.one p{
		font-size: 14px;
	}
	.two{
		height: 320px;
	}
	.two p{
		font-size: 22px;
	}
	.two .intel-two{
		font-size: 18px;
		font-weight: normal;
	}
	.two img{
		width: 150px;
	}
	.five time{
		font-size: 14px;
	}
	.five loud{
		font-size: 22px;
	}
	.three img{
		width: 100% !important;
	}
	.six{
		height: 460px;
	}
	.six h2{
		font-size: 22px;
	}
	.six img{
		width: 65% !important;
	}
	.four{
		height: 170px;
	}
}

