body{
	background: url('../img/hackathon.jpg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	max-height: 750px;
	overflow-y: hidden;
	height: 100%;
	min-width: 980px;
	width: 100%;
	font-family: 
}
a{
	color: white;
}
a:focus {
   outline: 0;
   text-decoration: none;
}
hr{
	border-top: 1px solid #dddddd;
}
.main-content{
	padding: 100px 0 50px 0;
	width: 100%;
	max-height:700px;
	overflow-y: scroll;
	/*background: rgba(93, 108, 124, 0.64);*/
	background: rgba(0, 0, 0, 0.64);
}
.header{
	background: rgba(0, 0, 0, 0.8) !important;
	height: 85px;
	position: absolute;
}
.header a {
	color: #7f8c8d;
}
.head-nav{
	padding: 10px 35px;
	max-width: 992px;
	width: 992px;
	height: 85px;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	margin: 0 140px;
}
.logo, .main-nav{
	display: inline-block;
}
.logo{
	width: 200px;
	float: left;
	padding: 10px;
	font-size: 28px;
	color: #009eaf;
	font-weight: bolder;
}
.logo a{
	color: #009eaf;
}
.main-nav{
	width: 78%;
}
.top-nav{
	font-family: Candal sans-serif;
	position: relative;
	display: inline-block;
	color: #7f8c8d;
	font-size: 14px;
	float: left;
	padding: 25px 0px;
}
.top-nav .links{
	padding: 3px 10px;
}

a.top-apply{
	margin-left: 60px;
	width: 100px;
	border: 1px solid #009eaf;
}


.welcome{
	color: white;
	padding: 60px 100px 0 100px;
	text-align: center;
	font-size: 20px;
}

.welcome .center{
	margin: 5% 25%;
	color: white;
	width: 50%;
	padding: 20px;
	background: rgba(0, 0, 0, 0.6);
}

.welcome .center .button:hover{
	background: #009eaf;
	color: white !important;
}
.time{
	font-size: 26px;
}
.button{
	width: 80%;
	text-align: center;
	margin: 5% 10%;
	border: 2px solid #009eaf;
	padding: 10px;
	font-size: 24px !important;
	color: white;
}
.button a{
	color: #009eaf;
}
.welcome .center h1{
	font-size: 26px;
}
.faq-content li, .sponsor-content li{
	list-style: none;
}
.faq-content ul{
	padding: 25px 0 0 20px;
}
.faq-content{
	margin: 20px 0 0 20px;
}
.faq-content p{
	color: #444;
}
.instruction,.why,.faq, .sponsor{display: none;}

.instruction-content, .faq-content, .why-content, .sponsor-content{
	margin: 0 18%;
	color: rgb(127, 140, 141);;
	padding: 20px;
	background: #eee;
}
.instruction-content h3, .faq-content h3, .why-content h3, .sponsor-content h3{
	color: #444;
	padding-bottom: 20px;
}
.instruction-content li, .faq-content li, .why-content li, .sponsor-content li{
	line-height: 25px;
}
.instruction > h3, .faq > h3, .why > h3, .sponsor > h3 {
	color:white;
	text-align:center;
	margin-bottom:25px;
}
.sponsor-content li{
	text-align: center;
}
.sponsor-content h3{
	color: #9B9595;
	text-align: center;
	padding-bottom: 20px;
}
.sponsor-content li img{
	padding: 15px;
}
.thanks a{
	color: #009eaf;
}
.thanks, .query{
	text-align: center;
}